
/*----------------------------------------*/
/* Basic setup .....*/

/*----------------------------------------*/

*{
    
    margin: 0px;
    padding: 0px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    
}

html,
body{
    
  
   
    font-family: 'Lato' , 'Arial' , 'san-serif';
    font-size: 20px;
    font-weight: 300; 
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
    background-image: url(images/23.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
} 




.container{
    
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
   
         
}

.main-box{
    
    
    width: 800px;
    height: 600px;
    border: 1px solid;
    border-radius: 20px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.72) , rgba(0, 0, 0, 0.3) ), url(images/header-bg.jpg);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    margin: 5% auto;
  
    
    
    
}

.myhead h1{
    
    color: #4e52cc;
    text-align: center;
    margin-top: 5%;
    
}


.btn:link,
.btn:visited{
    
    
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
    margin-top: 120px;
    -webkit-transition:  background-color 0.2s, border 0.2s ,  color 0.2s ;
    transition:  background-color 0.2s, border 0.2s ,  color 0.2s ; 
    
   
    
}


    .btn-full:link,
    .btn-full:visited{
        
    background-color: #023e8a;
    border: 1px solid #023e8a;
    color: white;
    margin-right: 15px;
    margin-left: 180px;    

    
}


.btn-ghost:link,
.btn-ghost:visited{
    
    border: 1px solid #0077b6;
    color: #4e52cc;
     margin-right: 15px;
    
}


.btn:hover,
.btn:active{
    
 background-color: #0077b6;  
    
    
}

.btn-full:hover,
.btn-full:active
{
    
   border: 1px solid#0077b6;

    
}

.btn-ghost:hover,
.btn-ghost:active{
    
    border: 1px solid #0077b6;
    color: white;
    
}






